.titulo-page {
  background: #ef6523 url(img/oculos_rofoldo.png);
  background-size: 5% auto;
  color: #fff;
}

.titulo-page h1 {
  color: #fff;
  padding: 6%;
  border: 5%;
  text-align: left;
  font-size: 42px;
}

.conteudo-site {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 3%;
}

.video-sobre {
  width: 50%;
  position: relative;
  float: right;
  padding-right: 6%;
}

.video-sobre img {
  float: right;
  padding-top: 0;
  padding-bottom: 15%;
}

.bio-img {
  position: relative;
  float: left;
  margin-top:10px;
}


.bio p, h3{
  position: relative;
  float: left;
  min-width: 55%;
  margin-left:25%;

}


#text-sobre {
  padding-right: 0;
}

#dupla img {
  width: 100%;
}
